body {
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  background-color:#9BCAC5;
  color: #1E403C;
}

.nav {
  background-color: #1E403C;
  height: 3rem;
  color: #9BCAC5;
  border-radius: 4px; 
}

.nav-button {
  background-color: #9BCAC5;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 0.1rem;
  margin: 0.3rem;
  width: 15vw;
  height: 2.4rem;
}

.wrap {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}
